.app {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 3rem;
  background-color: #ededed;
}
#adminTable {
  border: 0.5px solid #ededed !important;
}
th:nth-child(5) {
  border-top-right-radius: 5px;
}
th:nth-child(1) {
  border-top-left-radius: 5px;
}
