code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.fa-pencil-square-o {
  margin-right: 20px;
  color: rgba(45, 85, 255, 0.7);
  cursor: pointer;
}
.fa-trash {
  color: rgba(255, 76, 48, 0.7);
  cursor: pointer;
}
.fa-pencil-square-o:hover {
  color: rgba(45, 85, 255, 1);
}
.fa-trash:hover {
  color: rgba(255, 76, 48, 1);
}
.fa-floppy-o {
  margin-right: 20px;
  color: rgba(45, 85, 255, 0.7);
  cursor: pointer;
}
.fa-times {
  color: rgba(255, 76, 48, 0.7);
  cursor: pointer;
}
.fa-floppy-o {
  color: rgba(45, 85, 255, 1);
}
.fa-times:hover {
  color: rgba(255, 76, 48, 1);
}
